@using Microsoft.AspNet.Identity
@model FacebookClone.Models.LoginViewModel


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @using (Html.BeginForm("HomeLogin", "Account", null, FormMethod.Post, new {@class="form-check-inline"} ))
            {
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control mr-2", placeholder="Email"})
                @Html.PasswordFor(m => m.Password, new { @class = "form-control mr-2", placeholder = "password" })
                <input type="submit" value="Log in" class="btn btn-light" />
            }
        </li>
    </ul>
}
